html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    font-size: 16px;
}

.kategori {
    padding-top: 30px;

}

.subkategori {
    position: relative;
    width: 1288px;
    height: 600px;
    left: 100px;
    padding-top: 30px;
    margin-top: 65px;
    background: #F7F8FA;

}

.jumbotron {
    background-image: url(/images/jumbotron.png);
    background-size: cover;
    height: 760px;
    width: 100%;
}

.jumbotron .display-4 {
    margin-top: 180px;
    font-size: 64px;
    font-family: "Gilroy";
}

.jumbotron p {
    font-size: 20px;
}

.jumbotron hr {
    border-color: white;
    width: 800px;
    border-width: 1px;
}

.slider {
    background: #EAEBEF;
    height: 774;
    width: 1440;
}

.branding .title {
    color: #002678;
    padding-right: 60px;
}


/* Product */
.product-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 7rem 3rem;
}

.product {
    background-color: #fff;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    transition: all 300ms ease-in-out;
}

.product-header {
    position: relative;
    background-color: #f6f2f1;
    transition: all 300ms ease-in-out;
    z-index: 0;
}

.card-body .price {
    color: #1ACBAA;
    font-size: 18px;
}

.card-body .tipe {
    color: #898989;
    font-size: 16px;
}

.product:hover .product-header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease-in-out;
    z-index: 1;
}

.product-header .icons {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%) scale(0);
    z-index: 2;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

.product-header .icons span {
    background-color: #fff;
    font-size: 1.3rem;
    display: block;
    border-radius: 50%;
    padding: 1.5rem 1.6rem;
    line-height: 1rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.product-header .icons span i {
    transition: all 500ms ease-in-out;
}

.product-header .icons span:not(:last-child) {
    margin-bottom: 1rem;
}

.product-header .icons span:hover {
    background-color: #1ACBAA;
    color: #fff;
}

.product:hover .icons {
    opacity: 1;
    transform: translate(0, -50%) scale(1);
}

.product-header .icons a {
    display: block;
    margin-bottom: 1rem;
}

* {
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
}

.testimonials {
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
}

.inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonial {
    background: #fff;
    padding: 30px;
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    font-size: 18px;
    color: #7C8087;
    text-transform: uppercase;
    margin: 20px 0;
}

.stars {
    color: #6ab04c;
    margin-bottom: 20px;
}


@media screen and (max-width:960px) {
    .col {
        flex: 100%;
        max-width: 80%;
    }
}

@media screen and (max-width:600px) {
    .col {
        flex: 100%;
        max-width: 100%;
    }
}

#Checkout {
    background-color: rgba(26, 203, 170, 1);
    color: white;
}

/*footer*/
.searchform input {
    border: 1px solid #DDDDDD;
    color: #CCCCC6;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-top: 0;
    outline: medium none;
    padding: 7px;
    width: 212px;
}


.searchform button {
    background: #1ACBAA;
    border: medium none;
    border-radius: 0;
    margin-left: -5px;
    margin-top: -3px;
    padding: 7px 17px;
}

.searchform button i {
    color: #FFFFFF;
    font-size: 20px;
}

.searchform button:hover,
.searchform button:focus {
    background-color: #1ACBAA;
}

.searchform p {
    color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 25px;
}

.col-md-6:hover {
    border-radius: 12px;
    background-color: #f7f7f7;
}

/* Profile style */
.rectangle {
    margin-top: -50px;
    padding-left: 10px;
}

.profile-panel {
    margin-top: -110px;
}

.icon-manage {
    margin-top: -20px;
    padding-left: 75px;
}

.profile-info {
    margin-top: -75px;
    padding-left: 120px;
}

.add-to-cart {
    padding: 0;
    border: none;
    background: none
}

.badge {
    padding: 4px 7px;
    font-size: 12px;
    border-radius: 10px;
    background-color: red;
    
}

/* Detail-Product Style */
.img-detail{
    width: 100%;
    display: block;
}

.img-display{
    overflow: hidden;
}

.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

.img-showcase img{
    min-width: 100%;
}

.img-select{
    display: flex;
}

.img-item{
    margin: 0.3rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3),
.img-item:nth-child(4),
.img-item:nth-child(5),
.img-item:nth-child(6){
    margin-right: 0;
}

.img-item:hover{
    opacity: 0.8;
}

.product-content{
    padding: 2rem 1rem;
}

.product-title{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #002678;
    margin: 1rem 0;
}

.tipe-item .span{
    color: #7D7F88;
}

.product-title::after{
    content: "";
    position: relative;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}

.product link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}

.product-link:hover{
    opacity: 0.9;
}

.product-rating{
    color: #FFB800;
}

.product-rating span{
    font-weight: 600;
    color: #252525;
}

.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

.product-price span{
    font-weight: 400;
}

.last-price {
    color: #828599;
}

.new-price{
    margin-top: 15px;
    color: #828599;
}

.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
}

.nav-link .text-info{
    padding-right: 30px;
    text-align: center;
}

.product-detail ul{
    margin: 0;
    padding-left: 1.7rem;
    font-weight: 400;
    opacity: 0.9;
    margin-bottom: 2rem;
}
.product-detail {
    background: #F7F8FA;
    padding: 5rem;
    margin-top: -20px;   
}

.purchase-info{
    margin: 1.5rem 0;
}

.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}

.purchase-info input{
    width: 60px;
}

.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}

.purchase-info .btn:first-of-type{
    background: #1ACBAA;
}

.purchase-info .btn:last-of-type{
    background: #1ACBAA;
}

.purchase-info .btn:hover{
    opacity: 0.9;
}

.nav-kategory {
    margin-top: -50px;
}